@page
@model RavenSMS.Pages.PreferencesIndexPageModel
@{
    ViewData[ViewDataKeys.PageTitle] =  "Manage preferences";
    ViewData[ViewDataKeys.SelectedPage] = PageId.PreferencesPage;
}
<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
        <div class="page-title">
            <h1>Manage preferences</h1>
        </div>
        <div class="row g-4 settings-section">
            <div class="app-card app-card-settings shadow-sm p-4">
                <div class="app-card-body">
                    comming soon
                </div>
            </div>
        </div>
        <hr class="my-4">
    </div>
</div>