<div class="container text-center py-3">
    <small class="copyright">
        RavenSMS <a class="app-link" href="https://github.com/YoussefSell/RavenSMS" target="_blank">Repo <i class="fab fa-github" style="color: #212529"></i></a>
    </small>
</div>